<div class="container mt-3">
    <form #form="ngForm">
      <div class="mb-3">
        <label for="saque" class="form-label text_dark font-bebas-neue-600">Buscar por Saque</label>
        <select id="saque" class="form-select" [(ngModel)]="selectedSaque_id" name="saque_id" required (change)="filterResultados()">
          <option *ngFor="let saque of saques" [value]="saque.id_saque" >{{ saque.type_saque }}</option>
        </select>
      </div>
      
      <div *ngIf="filteredResultados.length > 0">
        <h5>Resultados:</h5>
        <ul class="list-group" *ngFor="let resultado of filteredResultados">
          <li class="list-group-item" >
           <p> Velocidad: {{ resultado.velocidad }}, Puntería: {{ resultado.punteria }}, Fecha: {{ resultado.created_at | date:'shortDate' }}</p>
          </li>
        </ul>
        <button class="btn bg_yelow text_white font-arial-600 btn-sm float-end mt-2" (click)="openModal()">Ver Gráfico</button>
      </div>
      <div class="mb-3 d-flex gap-3 mt-2">
        <label class="form-label font-helvetica-500 text_dark">Tipo de Gráfico:</label>
        <div>
          <input type="radio" id="bar" name="chartType" value="bar"  [(ngModel)]="selectedChartType" checked> Barras
        </div>
        <div>
          <input type="radio" id="line" name="chartType" value="line" [(ngModel)]="selectedChartType"> Líneas
        </div>
      </div>
    </form>
    <app-chards [resultados]="modalResultados" [chartType]="selectedChartType" ></app-chards>
  </div>
  
