<div class="container  mt-3">
  <div class="row mb-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchText">
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="font-bebas-neue-600 text_dark" (click)="sortTable('name')">
          Nombre 
          <i *ngIf="sortKey === 'name'" class="bi" [ngClass]="{'bi-caret-up-fill': sortDirection, 'bi-caret-down-fill': !sortDirection}"></i>
        </th>
        <th class="font-bebas-neue-600 text_dark" (click)="sortTable('surname')">
          Apellido 
          <i *ngIf="sortKey === 'surname'" class="bi" [ngClass]="{'bi-caret-up-fill': sortDirection, 'bi-caret-down-fill': !sortDirection}"></i>
        </th>

        <th class="font-bebas-neue-600 text_dark">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="font-helvetica-500" *ngFor="let user of filteredUsers()">
        <td>{{ user.Alumno.name }}</td>
        <td>{{ user.Alumno.surname }}</td>
        <td>
          <button class="btn bg_dark text_yelow btn-sm font-helvetica-500 me-2" (click)="openModal(user.Alumno)">Ver perfil</button>
          <button class="btn bg_yelow text_white btn-sm font-arial-600" (click)="deleteUser(user.relacion_id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-ver-perfil-modal [alumno]="selectedAlumno" [isVisible]="isModalVisible" (closeModal)="closeModal()"></app-ver-perfil-modal>
</div>
