<div class="container-fluid fondo_principal"> 

    <div class="container-scroll container-xl">
        <div class="row mt-4 justify-content-end me-3">
            <div class="col-3 col-md-1 ">
                <img class="usuario" [routerLink]="['/login']" routerLinkActive="router-link-active"  src="../../../assets/logo/Untitled design-AnyEraser.png" alt="logo usuario">
            </div>

        </div>
    <div class="vacio">

    </div>

    <div class="row apartado">
        <div class="col-md-12">
            <h1 class="text-center text-warning">Bienvenido a Tennis Progress!</h1>
            <p class="text-center">Esta aplicacion esta diseñada específicamente para profesores y alumnos de tenis. Esta plataforma intuitiva y funcional tiene como objetivo facilitar el seguimiento y la visualización del progreso de los alumnos en su entrenamiento de tenis. A continuación, te proporcionamos una descripción detallada de las funcionalidades y beneficios que ofrece nuestra aplicación. 
            <a class="text-info-emphasis text " href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" data-bs-toggle="collapse"> Leer mas...</a></p>

    <div class="collapse mt-3" id="collapseExample">

            
                <h5>Para los Profesores:</h5>
                    <p><strong>Subida de Datos:</strong> Los profesores pueden subir y gestionar los datos de progreso de cada alumno. Esto incluye estadísticas de rendimiento, resultados de entrenamientos, y evaluaciones personalizadas. La interfaz amigable permite a los profesores actualizar la información de manera rápida y eficiente, asegurando que los datos estén siempre al día.</p>
                    <p><strong>Gestión de Alumnos:</strong> Los profesores tienen acceso a un panel de control donde pueden ver un listado de todos sus alumnos. Pueden añadir comentarios y notas específicas para cada alumno, ayudando a personalizar y adaptar el entrenamiento según las necesidades individuales.</p>
                    <h5>Para los Alumnos:</h5>
                    <p><strong>Visualización de Resultados:</strong> Los alumnos pueden ver sus resultados y progresos en forma de tablas y gráficos interactivos. Esta visualización clara y detallada permite a los alumnos entender mejor su evolución, identificar áreas de mejora y celebrar sus logros.</p>
                    <p><strong>Acceso Personalizado:</strong> Cada alumno tiene un acceso personalizado a sus datos, asegurando la privacidad y confidencialidad de la información. Los alumnos pueden revisar sus estadísticas en cualquier momento, lo que les ayuda a mantenerse motivados y enfocados en sus objetivos.</p>
                    <h5>Beneficios Generales:</h5>
                    <p><strong>Comunicación Eficaz:</strong> La plataforma facilita una mejor comunicación entre profesores y alumnos. Los profesores pueden proporcionar feedback inmediato y constructivo, y los alumnos pueden hacer preguntas y recibir respuestas rápidamente.</p>
                    <p><strong>Transparencia y Motivación:</strong> Al tener acceso constante a sus datos de rendimiento, los alumnos pueden ver claramente su progreso. Esto no solo fomenta la transparencia sino que también aumenta la motivación y el compromiso con el entrenamiento.</p>
                    <p><strong>Optimización del Entrenamiento:</strong> Los datos recopilados permiten a los profesores analizar patrones y ajustar los programas de entrenamiento para maximizar el rendimiento de cada alumno.</p>
                    <p>Nuestra aplicación de Angular 2 es una herramienta poderosa para mejorar la experiencia de aprendizaje y enseñanza en el tenis. Esperamos que esta plataforma sea de gran utilidad para todos los profesores y alumnos, ayudándolos a alcanzar sus metas deportivas de manera más efectiva y eficiente.</p>
                    <p>¡Gracias por utilizar nuestra aplicación y por formar parte de esta comunidad de tenis! Desarrollada por: <a href="https://www.linkedin.com/in/ivan-kokin-a13aab158/" target="_blank" style="color: rgb(219, 37, 37);">Ivan Kokin</a>.</p>
    </div>
            </div>
    </div>
    <div class="row apartado">
        <div class="col-md-12">
            <h2 class="text-center text-info">Noticias</h2>
            <p class="text-center">Explica la funcionalidad principal de la página aquí.</p>
        </div>
    </div>
    
    <div class="row apartado">
        <div class="col-md-12">
            <h3 class="text-center">consejos2</h3>
            <p class="text-center">Proporciona detalles sobre cómo Angular 2 es utilizado en tu aplicación.</p>
        </div>
    </div>
    
    <div class="row apartado">
        <div class="col-md-12">
            <h4 class="text-center text-light">Registrarses</h4>
            <p class="text-center">Proporciona detalles sobre cómo Angular 2 es utilizado en tu aplicación.</p>
        </div>
    </div>
    <div class="row apartado">
        <div class="col-md-12">
            <h6 class="text-center">Desarrollada por:</h6>
            <p class="text-center"><a href="https://www.linkedin.com/in/eduardo-ortiz-olivares-7b0b0b1a" target="_blank" style="color: white;">Eduardo Ortiz Olivares</a></p>
        </div>
    </div>
    


</div>
