.fondo_principal{
    background-image: url('../../../assets/fondo/entrenamiento.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.img-fluid{
    width: 70%;
    height:auto;

}
.usuario{
    width: 80px;
    height:auto;

}

.vacio{
    height: 10vh;
    width: 100%;
}
.vacio2{
    height: 40vh;
    width: 100%;
}
.text-titulo{
    color: #fffefe;

}
.apartado {
    padding: 50px 20px;
    background: rgb(99, 124, 132); /* Fondo semitransparente para mejorar la legibilidad */
    border: 2px solid #e4dddd;
    box-shadow: 0 0 10px rgba(189, 185, 185, 0.7);
}
.container-scroll {
    overflow-y: auto; /* Permite el scroll interno */
    height: 100vh; /* Asegura que ocupa toda la altura del viewport */

}
.info{
    background-color: #f8f9fa;
    border: 1px solid #e4dddd;
    border-radius: 5px;
}
.container-scroll::-webkit-scrollbar {
    display: none;
}

.bg_dark{
    background-color: #53585dd1;

}

.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
.masthead .masthead-content {
  z-index: 1;
  position: relative;
}
.masthead-content .masthead-heading {
  font-size: 4rem;
}
.masthead-content .masthead-subheading {
  font-size: 2rem;
}
@media (max-width: 992px) {
 .info{
    text-align: center;
 }
}
@media (min-width: 992px) {
  .texto-final{
    text-align: end;
  }
}
