<div class="container mt-3">
    <h2>Mensajes</h2>
    <div *ngIf="solicitud.length === 0">
      No tienes solicitudes pendientes.
    </div>
    <div *ngIf="solicitud.length > 0">
      <div *ngFor="let alumno of solicitud; let i = index" class="card mb-3">
        <div class="card-body">
          <p>El alumno {{ alumno.Alumno.name }} {{ alumno.Alumno.surname }} le falta aceptar esta solicitud.</p>
          <button class="btn btn-danger" (click)="eliminarSolicitud(alumno.relacion_id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  