<div class="container mt-3">
    <h2 class="font-bebas-neue-600">Mensajes</h2>
    <div *ngIf="solicitud.length === 0">
      <p class="font-helvetica-300 ">No tienes solicitudes pendientes.</p>
    </div>
    <div *ngIf="solicitud.length > 0">
      <div *ngFor="let alumno of solicitud; let i = index" class="card mb-3">
        <div class="card-body">
          <p class="font-helvetica-300 ">El alumno {{ alumno.Alumno.name }} {{ alumno.Alumno.surname }} le falta aceptar esta solicitud.</p>
          <button class="btn bg_yelow font-arial-600 text_white" (click)="eliminarSolicitud(alumno.relacion_id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  