<nav class="navbar navbar-expand-lg bg-primary " data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand col-1" >
        <img class="logo " src="../../../assets/logo/logo1.png" alt="logo">
      </a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center pt-4" id="navbarColor01">
          <ul class="navbar-nav gap-5">
              <li class="nav-item">
                  <a class="nav-link fs-4" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link fs-4 active" href="#">Principal</a>
                  <span class="visually-hidden">(actual)</span>
              </li>
              <li class="nav-item">
                  <a class="nav-link fs-4" href="#">Lista Alumnos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link fs-4" href="#">Gestion Alumnos</a>
              </li>
          </ul>
      </div>
      
      <div class="d-flex col-1 align-items-center profile-container mt-2">
        
          <img class="img_perfil" src="../../../assets/img/descarga.jpg" alt="img perfil">
      </div>
  </div>
</nav>
