<div class="container mt-3">
  <h2 class="font-bebas-neue-600 text_yelow">Agregar Nuevo Alumno</h2>

  <!-- Alerta de confirmación -->
  <div *ngIf="showConfirmation" class="alert alert-success" role="alert">
    <p>¡Solicitud enviada correctamente!</p>
  </div>

  <!-- Alerta de error -->
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    <p>{{ errorMessage }} </p>
    <p>O ya tienes enviada una solicitud o esta en la lista de alumnos.</p>
  </div>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="mb-3 position-relative">
      <label for="alumno" class="form-label font-helvetica-700">Buscar Alumno</label>
      <input 
        type="text" 
        class="form-control" 
        id="alumno" 
        [(ngModel)]="searchText" 
        name="alumno" 
        (input)="filterAlumnos()" 
        (focus)="showAllAlumnos()" 
        (blur)="hideAlumnos()" 
        autocomplete="off">
      <div *ngIf="showDropdown" class="dropdown-menu show w-100 dropdown-full-width">
        <button class="dropdown-item" *ngFor="let alumno of filteredAlumnos" (click)="selectAlumno(alumno)">
          {{ alumno.name }} {{ alumno.surname }}
        </button>
      </div>
    </div>

    <button type="submit" class="btn bg_yelow text_white font-arial-600">Agregar alumno</button>
  </form>
</div>
