<div class="container mt-3">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="mb-3 position-relative">
      <label for="alumno" class="form-label">Buscar Alumno</label>
      <input 
        type="text" 
        class="form-control" 
        id="alumno" 
        [(ngModel)]="searchText" 
        name="alumno" 
        (input)="filterAlumnos()" 
        (focus)="showAllAlumnos()" 
        (blur)="hideAlumnos()" 
        autocomplete="off">
      <div *ngIf="showDropdown" class="dropdown-menu show w-100 dropdown-full-width">
        <button class="dropdown-item" *ngFor="let alumno of filteredAlumnos" (click)="selectAlumno(alumno)">
          {{ alumno.name }} {{ alumno.surname }}
        </button>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Agregar alumno</button>
  </form>
</div>
