<div class="container-fluid fondo">
    <div class="container-scroll">
    <div class="row justify-content-cente">
        <div class="col-12 text-center">
            <img class="logo" src="../../../assets/logo/logotenis.png" alt="">
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-11 col-md-6 col-lg-4  auth">
            <div class="row text-center">
                <div class="col-10 offset-1">
                    <label class="form-label my-4 "><p class="h4 text_white font-bebas-neue-600">Si no estas registrado, <a routerLink="/register" class="text_yelow font-bebas-neue-600">toca aqui</a>.</p></label>
                </div>
                <div class="col-1">
                    <span [routerLink]="['/home']" routerLinkActive="router-link-active" class="h3 text_yelow font-bebas-neue-600 close" >x</span>
                </div>
            </div> 
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com" >
            <label for="floatingInput">Email address</label>
            <span *ngIf="form.get('email')?.hasError('required') && (form.get('email')?.touched || enviar)" class="text-danger">
                El campo email es <strong>requerido</strong>
            </span>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <span *ngIf="form.get('password')?.hasError('required') && (form.get('password')?.touched || enviar)" class="text-danger">
                El campo password es <strong>requerido</strong>
            </span>
        </div>

        <button class="btn bg_yelow font-helvetica-500 mb-3 px-5" type="submit"> Login</button> 
            </form> 
        </div>
    </div>
    </div>
  </div>
  
