.logo{
    width: 400px;
    height: auto;
}
.fondo{
    background-image: url('../../../assets/fondo/pilotasPista.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}
.auth{
    background-color: #0f0f0f8c;
    border: 2px solid #e4dddd;
    box-shadow: 0 0 10px rgba(189, 185, 185, 0.7);

}
.close{
    cursor: pointer;
}
.container-scroll {
    overflow-y: auto; /* Permite el scroll interno */
    height: 100vh; /* Asegura que ocupa toda la altura del viewport */

}
.container-scroll::-webkit-scrollbar {
    display: none;
  }
  .font-bebas-neue-300 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300;
  }
  
  .font-bebas-neue-600 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
  }
  
  .font-helvetica-300 {
    font-family: 'Helvetica', 'Arial', 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  .font-helvetica-500 {
    font-family: 'Helvetica', 'Arial', 'Roboto', sans-serif;
    font-weight: 500;
  }
  
  .font-helvetica-700 {
    font-family: 'Helvetica', 'Arial', 'Roboto', sans-serif;
    font-weight: 700;
  }
  .bg_dark{
    background-color: #000000;

}
.bg_yelow{
  background-color: #E1BE1D;
}
.bg_white{
  background-color: #ffffff;
}
.text_white{
  color: #ffffff;
}
.text_dark{
  color: #000000;
}
.text_yelow{
  color: #E1BE1D;
}